
button{
    padding: 10px 20px;
    background-color: transparent; /* ทำให้ปุ่มโปร่งใส */
    border: none; /* ลบขอบของปุ่ม */
    color: blue; /* เปลี่ยนสีของตัวอักษรในปุ่ม */
    cursor: pointer; /* เปลี่ยนเคอร์เซอร์ให้แสดงเป็นมือชี้ */
    font-size: 16px; /* ขนาดตัวอักษรของปุ่ม */
}
body{
    background-image: url('../img/background name and simati domnic.svg'); /* ใส่รูปภาพพื้นหลัง */
    background-size: cover;
    flex-direction: row-reverse; /* ปรับขนาดรูปให้ครอบคลุมเต็มหน้าจอ */
    object-fit: cover;
    background-position: center; /* จัดตำแหน่งให้ตรงกลาง */
    background-repeat: no-repeat; /* ไม่ให้รูปซ้ำกัน */
}
.bodyfirst {
    background-image: url('../img/background name and simati domnic.svg'); /* ใส่รูปภาพพื้นหลัง */
    background-size: cover;
    flex-direction: row-reverse; /* ปรับขนาดรูปให้ครอบคลุมเต็มหน้าจอ */
    object-fit: cover;
    background-position: center; /* จัดตำแหน่งให้ตรงกลาง */
    background-repeat: no-repeat; /* ไม่ให้รูปซ้ำกัน */
}
.bodysecound {
    background-image: url('../img/background name and simati domnic.svg'); /* ใส่รูปภาพพื้นหลัง */
    background-size: cover;
   
    object-fit: cover;
    background-position: center; /* จัดตำแหน่งให้ตรงกลาง */
    background-repeat: no-repeat; /* ไม่ให้รูปซ้ำกัน */
}
.bodythird {
    background-image: url('../img/background name and simati domnic.svg'); /* ใส่รูปภาพพื้นหลัง */
    background-size: cover;
    flex-direction: row-reverse; /* ปรับขนาดรูปให้ครอบคลุมเต็มหน้าจอ */
    object-fit: cover;
    background-position: center; /* จัดตำแหน่งให้ตรงกลาง */
    background-repeat: no-repeat; /* ไม่ให้รูปซ้ำกัน */
}
.bodyfour {
    background-image: url('../img/background name and simati domnic.svg'); /* ใส่รูปภาพพื้นหลัง */
    background-size: cover; /* ปรับขนาดรูปให้ครอบคลุมเต็มหน้าจอ */
    object-fit: cover;
    background-position: center; /* จัดตำแหน่งให้ตรงกลาง */
    background-repeat: no-repeat; /* ไม่ให้รูปซ้ำกัน */
}
firsttopic
    {
font-family: "Protest Guerrilla", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 140px; 
  color:#ffffff;  
}
secoundtopic
    {
font-family: "Protest Guerrilla", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 140px; 
  color:rgb(5, 1, 137);  
}


body, h1, h2, p, form, input, textarea, button {
    margin: 0;
    padding: 0; /* พื้นหลังสีดำ */
}
.box1 {
    width: 700px;
    height: 80px;
    background-color: rgb(11, 0, 128);
    display: flex;
    align-items: center;
    justify-content: center;
    animation:  slideIn 1s forwards; 
    transform: translateX(-100%); /* เริ่มนอกจอทางซ้าย *//* แอนิเมชันสไลด์ */ /* เว้นระยะห่างระหว่างกล่อง */
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
    margin-top: 35px;/* เพิ่มการหน่วงเวลาให้กล่องนี้ */
}
/* Reset some default styles */
  .box2 {
    width:550px;
    height: 80px;
    background-color: #ffffff;
    display: flex;
    align-items: center;
    justify-content: center;
    animation:  slideInFromRight 0.5s forwards; 
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
  margin-left: auto;
  }
  
  .text-container {
    width: 100%; /* ครอบคลุมพื้นที่เต็มหน้าจอ */
    overflow: hidden; /* ป้องกันไม่ให้ข้อความที่อยู่นอก container แสดงออกมา */
    position: relative;
}

/* การตั้งค่าเบื้องต้นของข้อความ */
.slide-text {
    font-family: "Bebas Neue", sans-serif;
    font-size: 180px;
    padding-top: 20px;
    color: #ff6c6c;
    position: relative;
    transform: translateX(100%); /* เริ่มต้นนอกจอทางขวา */
    animation: slideInFromRight 1s ease-in-out forwards;
    
  /* ใช้ animation ที่ทำให้ข้อความสไลด์ */
}

.slide-text1 {
    font-family: "Bebas Neue", sans-serif;
    font-size: 200px;
    color: #ffffff;
    position: absolute;
    right: -100%; /* เริ่มต้นข้อความอยู่นอกจอทางขวา */
    animation: slideInToLeft 1.25s ease-in-out forwards;

}
.slide-text2 {
    font-family: "Bebas Neue", sans-serif;
    font-size: 180px;
    color: #46afff;
    padding-top: 300px;
    position: relative;
    transform: translateX(100%); /* เริ่มต้นนอกจอทางขวา */
    animation: slideInFromRight 1.5s ease-in-out forwards;
 /* ใช้ animation ที่ทำให้ข้อความสไลด์ */
}
/* สร้าง keyframes สำหรับ animation */
@keyframes slideInToLeft {
    0% {
        right: -100%; /* เริ่มต้นนอกจอทางขวา */
    }
    100% {
        right: 0; /* สไลด์เข้ามาอยู่ทางขวาของ container */
    }
}
@keyframes slideIn {
    0% {
        transform: translateX(-100%); /* เริ่มจากด้านซ้าย */
        opacity: 0;
    }
    100% {
        transform: translateX(0); /* สไลด์เข้ามาในตำแหน่งปกติ */
        opacity: 1;
    }
}
@keyframes slideInFromRight {
    0% {
        transform: translateX(100%); /* เริ่มต้นนอกจอทางขวา */
    }
    100% {
        transform: translateX(0); /* จบที่ตำแหน่งปกติของข้อความ */
    }
}
header {
    background-image: url('../img/DSC02171.jpg'); /* ใส่รูปภาพเป็นพื้นหลัง */
    background-size: cover;
    padding: 250px; /* ปรับขนาดรูปภาพให้ครอบคลุมเนื้อที่ */
    color: #ffffff; 
    text-align:right;

}

nav ul {
    list-style-type: none;
}

nav ul li {
    display: inline;
    margin-right: 25px;

}

nav ul li a {
    font-family: "Bebas Neue", sans-serif;
    font-style:normal;
    font-size: 30px; 
    color: #ffffff;
    text-decoration: none;
}
.box4 {
    width:900px;
    height: 100px;
    background-color: rgb(11, 0, 128);
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
    animation:  slideInFromRight 0.5s forwards; 
  }
  .box7 {
    width:900px;
    height: 100px;
    background-color:#ff6c6c ;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
    animation:  slideInFromRight 1.5s forwards; 
  }
.container {
    color: #fff;
    align-items: center; /* จัดแนวกลางในแนวดิ่ง */
    margin: 0; /* เอาระยะห่างออก */
    display: flex; /* ใช้ Flexbox จัดการกับตำแหน่ง */
    animation:  slideIn 1.5s forwards; 
        font-family: "Protest Guerrilla", sans-serif;
        font-weight: 400;
        font-style: normal;
      
    

}

img{
    width: 400px;
    height: 600px; /* กำหนดขนาดของรูปภาพ */
margin-left: 50px;


}

p2 {
    flex: 1; /* ทำให้ยืดหยุ่นและปรับตามขนาดพื้นที่ */
    font-size: 20px; 
    margin-left: 30px;
}

.container1 {
    color: #fff;
    display: flex;
    flex-direction: row-reverse; /* ทำให้รูปภาพอยู่ขวาและข้อความอยู่ซ้าย */
    align-items: center; /* จัดแนวกลางในแนวดิ่ง */
    margin-right: 100px;
    animation:  slideInFromRight 1.5s forwards; 
    font-family: "Protest Guerrilla", sans-serif;
    font-weight: 400;
    font-style: normal;

}
p1 {
    flex: 1; /* ทำให้ยืดหยุ่นและปรับตามขนาดพื้นที่ */
    margin-left: 100px;
    font-size: 20px; 

}
.container2 {
    color: #fff;
    display: flex; /* ใช้ Flexbox จัดการกับตำแหน่ง */
    align-items: center; /* จัดแนวกลางในแนวดิ่ง */
    animation:  slideIn 1.5s forwards; 
    font-family: "Protest Guerrilla", sans-serif;
    font-weight: 400;
    margin-right: 100px;
    font-style: normal;
}
p3 {
    flex: 1; /* ทำให้ยืดหยุ่นและปรับตามขนาดพื้นที่ */
    font-size: 20px; 
    margin-left: 30px;
  } 
topic1
  { 
    font-family: "Bebas Neue", sans-serif;
    font-weight: 400;
    font-style: normal;
    text-align: center;
    font-size: 160px; 
    color:#ffffff;  
    display: flex; /* ใช้ flex เพื่อจัดให้อยู่ในบรรทัดเดียวกัน */
    justify-content: space-between; 
    padding: 50px;
}
topic2
  {
font-family: "Bebas Neue", sans-serif;
font-weight: 400;
font-style: normal;
text-align: center;
font-size: 160px; 
color:#ffffff;  
display: flex; /* ใช้ flex เพื่อจัดให้อยู่ในบรรทัดเดียวกัน */
justify-content: space-between; 
padding: 50px;

}


 /* จัดรูปแบบของ container ที่ครอบรูปภาพ */
  .image-container {
    display: inline-block; /* จัดให้อยู่ในบรรทัดเดียวกัน */
    position: relative;
    width: 730px;
    height: 450px;
    overflow: hidden;

    
}  
.image-container1 
{
    display: inline-block; /* จัดให้อยู่ในบรรทัดเดียวกัน */
    position: relative;
    width: 730px;
    height: 450px;
    overflow: hidden;

} 
.image-container2 
{
    display: inline-block; /* จัดให้อยู่ในบรรทัดเดียวกัน */
    position: relative;
    width: 730px;
    height: 450px;
    overflow: hidden;

}  
.image-container3
{
    display: inline-block; /* จัดให้อยู่ในบรรทัดเดียวกัน */
    position: relative;
    width: 730px;
    height: 450px;
    overflow: hidden;

}
.image-container4
{
    display: inline-block; /* จัดให้อยู่ในบรรทัดเดียวกัน */
    position: relative;
    width: 730px;
    height: 450px;
    overflow: hidden;
}
.image-container5
{
    display: inline-block; /* จัดให้อยู่ในบรรทัดเดียวกัน */
    position: relative;
    width: 730px;
    height: 450px;
    overflow: hidden;
}


/* รูปภาพหลัก */
.image-container img.main-image 
{
    width: 100%;
    height: 100%;
    
}
.image-container1 img.main-image1 
{
    width: 100%;
    height: 100%;
}
.image-container2 img.main-image2 
{
    width: 100%;
    height: 100%;
}
.image-container3 img.main-image3 
{
    width: 100%;
    height: 100%;
}
.image-container4 img.main-image4 
{
    width: 100%;
    height: 100%;
}
.image-container5 img.main-image5 
{
    width: 100%;
    height: 100%;
}
/* รูปภาพที่จะแสดงเมื่อ hover */
.hover-image {
    position: absolute;
    top: 0;
    left: auto; 
    width: 100%;
    height: 100%;
    transition: transform 0.5s ease-in-out;
}
.hover-image1
 {
    position: absolute;
    top: 0;
    left: auto; 
    width: 100%;
    height: 100%;
    transition: transform 0.5s ease-in-out;
}
.hover-image2 
{
    position: absolute;
    top: 0;
    left: auto; 
    width: 100%;
    height: 100%;
    transition: transform 0.5s ease-in-out;
}
.hover-image3 
{
    position: absolute;
    top: 0;
    left: auto; 
    width: 100%;
    height: 100%;
    transition: transform 0.5s ease-in-out;
}
.hover-image4 
{
    position: absolute;
    top: 0;
    left: auto; 
    width: 100%;
    height: 100%;
    transition: transform 0.5s ease-in-out;
}
.hover-image5 
{
    position: absolute;
    top: 0;
    left: auto; 
    width: 100%;
    height: 100%;
    transition: transform 0.5s ease-in-out;
}
.hover-text 
{
    font-family: "Bebas Neue", sans-serif;
    font-style:normal;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 70px;
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
}
.hover-text1 
{
    font-family: "Bebas Neue", sans-serif;
    font-style:normal;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 65px;
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
}
.hover-text2 
{
    font-family: "Bebas Neue", sans-serif;
    font-style:normal;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 65px;
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
}
.hover-text3
{
    font-family: "Bebas Neue", sans-serif;
    font-style:normal;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 65px;
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
}
.hover-text4
{
    font-family: "Bebas Neue", sans-serif;
    font-style:normal;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 80px;
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
}
.hover-text5
{
    font-family: "Bebas Neue", sans-serif;
    font-style:normal;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 80px;
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
}

.image-container:hover .hover-image {
    transform: translateX(100%); 
}
.image-container1:hover .hover-image1 {
    transform: translateX(100%); 
}
.image-container2:hover .hover-image2 {
    transform: translateX(100%); 
}
.image-container3:hover .hover-image3 {
    transform: translateX(100%); 
}
.image-container4:hover .hover-image4 {
    transform: translateX(100%); 
}
.image-container5:hover .hover-image5 {
    transform: translateX(100%); 
}

.image-container:hover .hover-text {
    opacity: 1; 
}
.image-container1:hover .hover-text1{
    opacity: 1; 
}.image-container2:hover .hover-text2 {
    opacity: 1; 
}.image-container3:hover .hover-text3 {
    opacity: 1; 
}
.image-container4:hover .hover-text4 {
    opacity: 1; 
}
.image-container5:hover .hover-text5 {
    opacity: 1; 
}
.fa-instagram{
    cursor: pointer;
}
.fa-facebook{
    cursor: pointer;
}
.fa-tiktok{
    cursor: pointer;
}
footer {
    text-align: center;
    font-family: "Bebas Neue", sans-serif;
    font-size: 22px; 
    background-color: #03009d;
    color: #fff;
    position: fixed;
    bottom: 0;
    width: 100%;
    display: flex; 
    justify-content: space-between; 

}
p6{
    padding-top: 10px;
    margin-left: 10px;
}
.p4{
    margin-right: 60px ;
    padding-top: 10px;
    
}
.p5{
    padding: 30px;
}

#formResponse {
    margin-top: 10px;
    font-weight: bold;
    color: green;
}
.skill-container {
    width: 80%; /* ความกว้างของแถวค่าพลัง */
    background-color: #f3f3f3;
    border-radius: 25px;
    margin: 10px 0; /* ทำให้แต่ละแถวอยู่คนละบรรทัด */
    padding: 3px;
}

.skill-bar {
    height: 30px;
    width: 0; /* เริ่มที่ 0 และจะปรับตามค่าเปอร์เซ็นต์ */
    background-color: #000879; /* สีของแถบค่าพลัง */
    border-radius: 25px;
    text-align: right;
    padding-right: 10px;
    line-height: 30px; /* ทำให้ข้อความอยู่กลางแถบ */
    color: white;
    transition: width 1s; /* ทำให้แถบเคลื่อนที่ช้าๆ */
}
.describe5{
    font-family: "Bebas Neue", sans-serif;
    font-size: 25px;
    font-style:normal;
    color: rgb(255, 255, 255);
    line-height: 2;
    margin-left: 50px;
    animation:  slideIn 1.5s forwards; 
    transform: translateX(-100%); 
}
.skill-section {
    display: flex;
    align-items: center;
    margin: 25px 0; /* เพิ่มระยะห่างระหว่างแต่ละ skill bar */
    animation:  slideIn 2s forwards; 
    
}

.skill-section img {
    width: 100px; /* ขนาดของรูปภาพ */
    height: 100px;
    margin-right: 20px; /* ระยะห่างระหว่างรูปภาพกับ skill bar */
}

.skill-container {
    width: 80%;
    background-color: #ffffff ;
    border-radius: 25px;
    padding: 3px;
}

.skill-bar {
    height: 30px;
    width: 0;
    background-color: #20009e;
    border-radius: 25px;
    text-align: right;
    padding-right: 10px;
    line-height: 30px;
    color: white;
    transition: width 1s;
}

/* Set width for each skill bar */
.html { width: 80%; }
.unity { width: 80%; }
.javascript { width: 60%; }
.python { width: 50%; }
.CCC { width: 50%; }
.CC { width: 65%; }
.Adruino { width: 40%; }
.Photoshop { width: 60%; }
.tinkercad { width: 45%; }
.asesprite { width: 65%; }
.Figma { width: 30%; }